	:root{
    	--main-blue: #4F81E2;
    	--lora: 'Lora', serif;
    	--open-sans: 'Open Sans', sans-serif;
    }

    html, body{
    	margin: 0 auto;
    	height: 3000px;
    	font-family: var(--lora);
    }

    *{
    	/*border: 1px solid red;*/
    }
    
  	.nav{
  		width: 100%;
  		height: 80px;
  		background-color: white;
  		box-shadow: 2px 4px 6px rgba(0,0,0,0.05);
  		position: fixed;
  		top: 0px;
  		z-index: 5;
  	}

  	.nav img{
  		width: 200px;
  		height: 70px;
  		object-fit: contain;
  		left: 2%;
  		position: absolute;
  		top: 2.5px;
  	}

  	.header{
  		margin-top: 80px;
  		position: relative;
  		padding-bottom: 5%;
  	}

  	.header-box{
  		display: flex;
  	}

  	.header-box img{
  		width: 58%;
  		height: auto;
  		right: 2%;
  		top: 5%;
  		position: absolute;
  		z-index: -1;
  	}

  	.header-text{
  		flex: 50%;
  		padding: 5% 0% 5% 5%;
  	}
    
    .header-text  h1{
    	font-size: 4.7vw;
    	font-weight: lighter;
    	margin: 0px;
    }

    .header-text h2{
    	color: rgba(0,0,0,0.5);
    	line-height: 40px;
    	font-size: 2.2vw;
    	font-weight: lighter;
    	margin: 0px;
    	margin-top: 2%;
    }

    .header-text button{
    	background-color: var(--main-blue);
    	font-family: var(--open-sans);
    	color: white;
    	padding: 3% 8% 3% 8%;
    	font-size: 22px;
    	border: none;
    	outline: none;
    }

  	.header-img{
  		flex: 50%;
  		padding-right: 5%;
  	}

  	.workflow{
  		background-color: #F9F9F9;
  		display: flex;
  		flex-direction: column;

  	}

  	.workflow-heading{	
  		display: flex;
  		flex: 100%;
  		justify-content: center;
  		padding: 2%;
  	}

  	.workflow-heading h1{
  		font-size: 4.7vw;
  		font-family: var(--lora);
  		font-weight: normal;
  	}

  	.simple-workflow, .complex-workflow{
  		display: flex;
  	}

  	.simple-workflow .text-section{
  		flex: 50%;
  		padding-left: 10%;
  		align-self: center;
  	}	

  	.text-section h1{
  		font-size: 3.8vw;
  		font-weight: normal;
  		margin: 0px;
  	}

  	.text-section p{
  		font-size: 1.8vw;
  		color: rgba(0,0,0,0.5);
  		padding-right: 15%;
  	}

  	.image-section{
  		flex: 50%;
  	}

  	.image-section img{
  		width: 70%;
  		height: auto;	
  	}

  	.complex-workflow{
  		padding-top: 5%;
  		padding-bottom: 5%;
  	}

  	.complex-workflow .text-section{
  		flex: 50%;
        align-self: center;
  	}

  	.complex-workflow .image-section{
  		flex: 50%;
        position: relative;

  	}
    
    .complex-workflow img{
    	position: relative;
    	left: 15%;
    }

    .easy-box{
    	background-color: #4F81E2;
    	display: flex;
    	color: white;
    	font-family: var(--lora);
    }
    
    .screenshot-section{
    	flex: 60%;
    	padding: 5%;
    	position: relative;
    }

    .quote-section{
    	flex: 40%;
    	align-self: center;
    }
    
    .quote-section h1{
    	font-weight: normal;
    	font-size: 4vw;
    	margin: 0px;
    }

    .quote-section p{
    	font-size: 1.5vw;
    	padding-right: 10%;
    }

    .screenshot-section .image-box{
    	width: 100%;
    	background-color: white;
    	position: relative;
    }
   
   .screenshot-section .image-box img{
   		position: relative;
   		object-fit5: cover;
   		width: 100%;
   }

   .lollypop{
	   	position: absolute;
	   	bottom: 0px;
	   	left: 3%;
	    z-index: 3;
	    width: 18%;
   }

   .supported-apps{
   		text-align: center;
   		padding-top: 5%;
   }
   
   .supported-apps h1{
   		font-size: 4.5vw;
   		font-weight: normal;
   		margin: 0px;
   }
   
   .supported-apps p{
   		font-size: 1.8vw;
   		color: rgba(0,0,0,0.7);
   }

   .floating-icons{
   		height: 300px;
   		width: 100%;
   }

   .cta-box{
   		background-color: #F2F6FF;
   		text-align: center;
   		padding: 2% 15% 5% 15%;
   }

   .cta-box h1{
   		font-weight: normal;
   		font-size: 3.5vw;
   		color: #4F81E2;
   }
  
   .logo-box{
   		display: flex;
   		margin-bottom: 3%;
   }

   .logo-icon{
   		flex: 20%;
   		margin: 2%;
   		height: 100px;
   }

   .cta-box button{
   		padding: 3% 10% 3% 10%;
   		border: none;
   		outline: none;
   		font-size: 1.3vw;
   		background-color: #4F81E2;
   		color: white;
   }

   .footer{
   		display: flex;
   		flex-direction: column;
   		position: relative;
   		background-color: #FBFBFB;	
   }

   .footer .first-part, .second-part, .third-part{
   		/*border: 1px solid red;*/
   }

   .first-part{
   		margin: 0% 5% 0% 5%;
   		padding: 3%;
   		border-bottom: 1px solid rgba(0,0,0,0.1);
   }

   .second-part{
   		margin: 2% 5% 5% 5%;
   		display: flex;
   		flex-direction: row;
   		font-family: var(--open-sans);
   }
   
   .product, .popular-apps, .top-integrations, .use-case{
   		flex: 25%;
   		/*border: 1px solid red;*/
   } 

   .second-part ul li{
   		list-style: none;
   		margin-top: 5%;
   		color: rgba(0,0,0,0.5);
   		cursor: pointer;
   		transition: 0.2s ease;
   }

   .second-part ul li:hover{
   		color: var(--main-blue);
   		font-weight: bold;
   }

   li b{
   		color: black;
   }

   .third-part{
   		background-color: white;
   		padding: 3% 5% 3% 5%;
   		box-shadow: 2px 4px 30px rgba(0,0,0,0.1);
   }

   .footer-robot{
   		position: absolute;
   		left: 65vw;
   		top: -14vw;
   		width: 17vw;
   }

   .footer h2{
   		margin: 0px;
   		font-weight: normal;
   }







